<h1>Listing all articles</h1>
<p>
  <%= link_to "Create new article", new_article_path %>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Decription</th>
  </tr>
  <% @articles.each do |a| %>
    <tr>
      <td><%= a.title %></td>
      <td><%= a.description %></td>
      <td><%= button_to "Show", article_path(a) %></td>
      <td><%= button_to "Edit", edit_article_path(a) %></td>
      <td><%= button_to 'Delete', article_path(a) , controller: :articles, method: :delete, data: { confirm: "Are you sure ?" } %></td>
    </tr>
  <% end %>

</table>
